<!-- <div class="topnav" id="myTopnav">
    <nav>
        <a id="tab-login" routerLink="login" routerLinkActive="is-active" *ngIf="!isLoggedIn">Login</a>
        <a id="tab-add" routerLink="inventory/add" routerLinkActive="is-active">Add</a>
        <a id="tab-show" routerLink="inventory/show" routerLinkActive="is-active">Show</a>
        <a id="tab-show" (click)="logout()" routerLinkActive="is-active" *ngIf="isLoggedIn">Logout</a>
      </nav>
  </div>
  <router-outlet></router-outlet> -->
  <app-login *ngIf="!isLoggedIn"></app-login>
  <mat-drawer-container class="container" autosize *ngIf="isLoggedIn">  
    <mat-drawer #drawer class="sidenav">
        <button color="primary" mat-button routerLink="/inventory">Inventory</button>
        <button color="primary" mat-button routerLink="/cart">Cart</button>
    </mat-drawer>
    <div class="sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="spacer">Title</span>
                <mat-icon  (click)="logout()">logout</mat-icon>     
            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>

    </div>
</mat-drawer-container>