<div class="container">
  <form [formGroup]="productDetailsForm" (ngSubmit)="addorUpdateProductDetails()">
      <div class="row">
      <div class="col-25">
        <label for="Pname">Product Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="Pname" name="productName" placeholder="Product name.." formControlName="productName" /> 
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="desc">Product SKU(article number)</label>
      </div>
      <div class="col-75">
          <input type="text" id="sku" name="pSku" placeholder="Article Number.." formControlName="productSku">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="price">Price</label>
      </div>
      <div class="col-75">
          <input type="text" id="price" name="price" placeholder="Product Price.." formControlName="price">
        </div>
    </div>
    <div class="row">
      <button type="submit">{{ 'Submit'}} </button>
      <button type="reset">Reset</button>
    </div>
  </form>
</div>